<div id="result"></div>

<button id="current">Current</button>
<button id="everyone">Everyone</button>

<script>

  document.querySelector('#current').onclick = (e) => {
    fetch('/jwt/current', {
      headers: { 'Content-Type': 'application/json' }
    })
      .then(r => r.json())
      .then(data => {
        document.querySelector('#result').innerHTML = JSON.stringify(data)
      })
  }

  document.querySelector('#everyone').onclick = (e) => {
    fetch('/jwt/everyone', {
      headers: { 'Content-Type': 'application/json' }
    })
      .then(r => r.json())
      .then(data => {
        document.querySelector('#result').innerHTML = JSON.stringify(data)
      })
  }


</script>