<form action="/api/user" method="post">
    name: <input name="name">
    <br>
    email: <input name="email">
    <br>
    password: <input name="password">
    <hr>

    <button type="submit">Registrar usuario</button>
</form>