<h2>Create</h2>
<form action="/pokemon" method="post">
    Name: <input name="name"> <br>
    Photo: <input name="photo"> <br>
    Type: <input name="type"> <br>

    <input type="submit" value="Create 🔋">
</form>