<h2>List</h2>
<div>
    {{#each pokemons }}
        <div>
            <a href="/pokemon/{{this.name}}">
                <b>{{this.name}}</b>
                <img src="{{this.photo}}" height="50">
                <i>{{this.type}}</i>
            </a>
        </div>
    {{/each}}
</div>