<h1>Login</h1>

<form action="/api/session/login" method="POST">
    Email: <input type="text" name="email"> <br>
    Password: <input type="text" name="password"> <br>

    <button type="submit">Login</button>
</form>