<h1>Register</h1>

<form action="/api/session/register" method="post">
    First Name: <input type="text" name="first_name" id=""> <br>
    Last Name: <input type="text" name="last_name" id=""> <br>
    Age: <input type="number" name="age" id=""> <br>
    Email: <input type="text" name="email" id=""> <br>
    Password: <input type="text" name="password" id=""> <br>

    <button type="submit">Register</button>
</form>