<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons 🍙</title>
</head>

<body>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/pokemon">Pokemons</a></li>
                <li><a href="/pokemon/create">Crear</a></li>
            </ul>
        </nav>
        {{{ body }}}
    </div>


</body>

</html>